<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<link href="http://fonts.googleapis.com/css?family=Lancelot" rel="stylesheet" type="text/css">
	<style>
	body{font-family: 'Lancelot', Arial, Verdana, Tahoma, sans-sherif;text-align:center;}
	article,section,header,footer,nav{display:block}
	article, footer{margin:0 auto;text-align:left;width:750px}
	article header{border-bottom:1px solid #555;margin-bottom:1em;padding-bottom:1em;text-align:center;}
	article header h1{font-size:48pt;}
	footer{border-top:1px solid #999;margin-top:1em;padding-top:1em;text-align:center;}
	</style>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<article>
	{{ content }}
</article>
<footer>
	&copy; Copyright John Bjorn Nelson, 2011
</footer>
</body>
</html>